#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=ATLAS_meetings
Exec=/usr/bin/chromium-browser https://atlas.web.cern.ch/Atlas/Collaboration/private/atlas-meetings.html
Icon=/usr/share/ucom/CERN-alias/icons/ATLAS.svg
Terminal=false
Type=Application
