#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=ATLAS_meetings
Exec=/usr/bin/google-chrome http://cern.ch/go/PM9N
Icon=/usr/share/ucom/CERN-alias/icons/ATLAS.svg
Terminal=false
Type=Application
