#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=calendar
Exec=/usr/bin/google-chrome https://www.google.com/calendar
Icon=/usr/share/ucom/CERN-alias/icons/time.svg
Terminal=false
Type=Application
