#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Cuphead
Exec=flatpak run org.flatpaklinux.Cuphead $@
Icon=/usr/share/ucom/CERN-alias/icons/Cuphead.svg
Terminal=false
X-MultipleArgs=false
Type=Application
