[Desktop Entry]
Type=Application
Terminal=false
Exec=python2 /usr/share/pyshared/youtube_dl_gui/__main__.py
Name=download_media
Icon=/usr/share/ucom/CERN-alias/icons/arrow_down.svg
