[Desktop Entry]
Encoding=UTF-8
Name=negative
Exec=bash -c "sleep 1; xdotool key Super+n"
Terminal=false
Type=Application
Icon=/usr/share/ucom/CERN-alias/icons/split.svg
