#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Popcorn_Time
Exec=Popcorn_Time
Icon=/usr/share/ucom/CERN-alias/icons/Popcorn_Time.svg
Terminal=false
Type=Application
