#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=qTox
Exec=qtox
Icon=/usr/share/ucom/CERN-alias/icons/Tox.svg
Terminal=false
X-MultipleArgs=false
Type=Application
