#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Skype_setup
Exec=bash -c "/usr/bin/skype & /usr/bin/skype-call-recorder"
Icon=/usr/share/ucom/CERN-alias/icons/Skype.svg
Terminal=false
Type=Application
