#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=terminal_fullscreen
Exec=gnome-terminal --window --full-screen
Icon=/usr/share/ucom/CERN-alias/icons/terminal.svg
Terminal=false
X-MultipleArgs=false
Type=Application
