#!/usr/bin/env xdg-open

[Desktop Entry]
Name=unmount_all
Exec=bash -c "truecrypt -d & veracrypt -d"
Icon=/usr/share/ucom/CERN-alias/icons/lock.svg
Terminal=false
Type=Application
